*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
header{
    background-color: hsl(194.74deg 53.27% 79.02%);
    height: 60px;
}
.navbar{
    padding: 10px;
}    
.row{
    background-color: hsl(42.9deg 74.4% 49.02%);
    display: flex;    
}
.col20{
    border: 1px dashed;
    width: 20%;
    padding: 10px;
}
.col60{
    border: 1px dashed;
    width: 60%;
    padding: 10px;
    text-align: center;
}
.login{
    text-align: right;
}
.blue{
    background-color: hsl(240deg 100% 27.25%);
    width: 100%;
    display: flex;
}

.pink{
    width: 70%;
    height: 300px;
    background-color: hsl(300deg 76.06% 72.16%);
    margin: 50px 15%;
    border: 1px dashed;
}
.white{
    background-color: white
    width: 100%;
    display: flex;
}
.col1{
    background-color:hsl(209.6deg 100% 55.88%) ;
    width: 60%;
    height: 400px;
    margin: 50px 0;
    border: 1px dashed;
}
.col2{
    background-color: hsl(349.52deg 100% 87.65%);
    width: 40%;
    height: 400px;
    margin:50px 0;
    border: 1px dashed;
}
.row2{
    display: flex;
}
.gray{
    background-color: hsl(0deg 0% 82.75%);
    width: 100%;
    display: flex;
}
.green{
    width: 100%;
    height: 600px;
    background-color: hsl(120deg 60.69% 33.92%);
    border: 1px dashed;
    margin: 50px 0;
}
.black{
    background-color: black;
    width: 100%;
    display: flex;
}
.col3{
    width: 40%;
    background-color: hsl(0deg 78.87% 72.16%);
    height: 400px;
    margin: 10px 0 30px 0;
    border: 1px dashed;
}
.col4{
    width: 15%;
    background-color: hsl(176.71deg 69.52% 41.18%);
    height: 400px;
    margin: 10px 0 30px 0;
    border: 1px dashed white;
}
.row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(159.84deg 100% 74.9%);
    height: 50px;
    margin-top: 20px;
}
.final-logo{
    color: black;
    background-color: hsl(350.96deg 100% 85.69%);
    border: 1px dashed black;
}
.final-button{
    color:black;
    background-color: hsl(350.96deg 100% 85.69%);
    border: 1px dashed black;
}